:root {
  --background-color: #202124;
  --hero-font-family: 'Archivo Black', sans-serif;
  --benefit-font-family: 'Montserrat', sans-serif;

  --main-font-color: #ffffff;
  --headline-font-color: #f5deb3;
  --accent-font-color:#000000;

  --border-radius:5px;
}

body{
background-color: var(--background-color);
}

.hero{
background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(51, 51, 51, 0.73)),url('./images/hero2.jpg');
height: 800px;
padding: 50px
}

.hero-text{
  max-width: 50%;
}

h1{
  display: inline-block;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--headline-font-color);
  font-family: var(--hero-font-family);
  margin-bottom: 20px;
}

h2{
  font-size: 35px;
  color: var(--main-font-color);
  font-family: var(--hero-font-family)
}

.logo{
  width: 150px;
  margin-bottom: 20px;
}

.button-container{
  padding: 30px 0;
  text-align: center;
}

a, button{
  display: inline-block;
  border: 2px solid grey;
  border-radius: var(--border-radius);
  box-shadow: 10px 5px 5px grey;
  padding: 30px 30px;
  background-color: var(--headline-font-color);
  color: var(--accent-font-color);
  font-size: 25px;
  font-family: var(--hero-font-family);
  text-transform: uppercase;
  margin-bottom: 10px;
}

a:hover, button:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: #202124;
  color:var(--headline-font-color);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.benefits{
  padding: 20px 10px;
  margin: 30px auto;
  text-align: center;
}


.benefits img{
  max-width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.benefits p{
  font-size: 14px;
  font-weight: 700;
  font-family: var(--benefit-font-family);
  color: var(--main-font-color);
}

.mural-container{
  margin: 20px;
}

.form{
  text-align: center;
  margin: 0 auto;
}


.benefits h2, .form h2{
  color: var(--headline-font-color);
  text-transform: uppercase;
  line-height: 3;
}

.hero p{
  color: var(--main-font-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 3;
}

footer p {
  text-align: center;
  color: var(--main-font-color);
  font-family: var(--benefit-font-family);
  font-size: 10px;
  line-height: 8;
}

.form-itself{
  width: 50%;
 margin: auto;
}

.form-check-container{
  margin: 30px 0;
}

@media screen {
  
}