body {
  margin: auto;
  text-align: center;
  background-color: rgb(32, 42, 68);
}

h1,
h3,h5,
h4,
p {
  color: #fffee9;
}

.container {
  text-align: center;
  margin: 0 auto;
}

h1 {
  line-height: 12;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/hero.jpg);
}

.collection {
  text-align: center;
}

.points {
  padding-bottom: 30px;
}

img {
  max-width: 500px;
  min-width: 100px;
  border-radius: 10px;
}

footer {
  line-height: 8;
}

h3 {
  font-size: 20px;
}
h4{
  font-size: 14px;
}

h5{
  font-size:12px
}
 p {
  font-size: 12px;
}
