body{
background-color: #202124;
/* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */
}

.hero{
background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(51, 51, 51, 0.73)),url('./images/hero2.jpg');
height: 800px;
padding: 50px
}

.hero-text{
  max-width: 50%;
}

h1{
  text-transform: uppercase;
  font-size: 60px;
  color: wheat;
  font-family: 'Archivo Black', sans-serif;
}

h2{
  font-size: 35px;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.logo{
  width: 150px;
  margin-bottom: 20px;
}

.button-container{
  padding: 30px 0;
  text-align: center;
}

button{
  border: 2px solid grey;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
  padding: 30px 30px;
  background-color: azure;
  color: black;
  font-size: 25px;
  font-family: 'Archivo Black', sans-serif;;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits{
  margin: 30px auto;
  text-align: center;
}


.benefits img{
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.benefits p{
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.mural-container{
  margin: 20px;
}

.form{
  text-align: center;
  margin: 0 auto;
}